<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Book Detail</title>

<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>	
<body>
	<h2>Book Detail</h2>
		<hr />


		<div th:object="${bookdetail}">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img th:src="*{coverImage}" />
					</div>
				</div>
				
				<div class="col-sm-5">
					<h2 th:text="'Book Title: ' + *{title}"></h2>
					<ul style="list-style-type: none">
						<li th:text="'Publish Date: ' + *{publishDate}">2010</li>
						<li th:text=" 'Author Name:' +*{author}">Java</li>
						<li th:text="'Pages: ' + *{page}">500</li>
					</ul>					
					

				</div>
			</div>
		</div>

	<footer class="container-fluid text-center">
		<p>Copyright @ QBook Detail</p>

	</footer>
</body>
</html>